@page "/com"
@using Microsoft.AspNetCore.Components.Forms
@using SixLabors.ImageSharp
@using SixLabors.ImageSharp.Formats.Webp
@using SixLabors.ImageSharp.Processing
@using System.IO

<div class="d-flex justify-content-center flex-column align-items-center">
    @if (!string.IsNullOrEmpty(photoUploadModel.Base64String))
    {
        <div class="d-flex justify-content-center">
            <div class="text-center mb-3 mt-3 d-flex flex-column">
                <img src="@photoUploadModel.Base64String" class="img-thumbnail bg-black" alt="Profile Photo"
                    style="max-width: 13rem; max-height: 13rem;" />
            </div>
        </div>
    }

    <div class="col-md-4">
        <InputFile OnChange="@OnFileSelected" class="form-control" accept=".png, .jpeg, .jpg" />
    </div>
</div>

@code {
    public class PhotoUploadModel
    {
        public string Base64String { get; set; } = string.Empty;
        public string Name { get; set; } = string.Empty;
    }

    private PhotoUploadModel photoUploadModel = new();
    private bool IsDisplayErrorMessage { get; set; }
    private string? DisplayErrorMessage { get; set; }
    private const long maxAllowedSizeInBytes = 20 * 1024 * 1024;

    private async Task OnFileSelected(InputFileChangeEventArgs e)
    {
        IsDisplayErrorMessage = false;
        DisplayErrorMessage = string.Empty;
        StateHasChanged();

        var imageFile = e.File;
        string? fileType = imageFile.ContentType;

        if (imageFile != null && (fileType == "image/png" || fileType == "image/jpg" || fileType == "image/jpeg"))
        {
            try
            {
                if (imageFile.Size > maxAllowedSizeInBytes)
                {
                    DisplayErrorMessage = "File size must be less than 20MB.";
                    IsDisplayErrorMessage = true;
                    StateHasChanged();
                    return;
                }

                // Optimize image before upload
                var optimizedImageStream = await OptimizeImageAsync(imageFile);

                // Load image into memory
                using var image = await Image.LoadAsync(optimizedImageStream);

                // Process the image
                var webpImageData = await ConvertToWebpAsync(image);

                // Convert the WebP image data to Base64 string
                var base64Data = Convert.ToBase64String(webpImageData);
                photoUploadModel.Base64String = $"data:image/webp;base64,{base64Data}";
                photoUploadModel.Name = imageFile.Name;
            }
            catch
            {
                DisplayErrorMessage = "An error occurred while uploading the file. Please try again.";
                IsDisplayErrorMessage = true;
            }
            finally
            {
                StateHasChanged();
            }
        }
        else
        {
            DisplayErrorMessage = "Please upload a PNG, JPG, or JPEG image.";
            IsDisplayErrorMessage = true;
            StateHasChanged();
        }
    }

    private async Task<Stream> OptimizeImageAsync(IBrowserFile imageFile)
    {
        var maxWidth = 1920; // Example max width
        var maxHeight = 1080; // Example max height

        using var stream = imageFile.OpenReadStream(maxAllowedSizeInBytes);
        using var image = await Image.LoadAsync(stream);

        var resizeOptions = new ResizeOptions
            {
                Mode = ResizeMode.Max,
                Size = new Size(maxWidth, maxHeight)
            };

        image.Mutate(x => x.Resize(resizeOptions));

        var outputStream = new MemoryStream();
        await image.SaveAsJpegAsync(outputStream);
        outputStream.Position = 0; // Reset the stream position for further reading

        return outputStream;
    }

    static async Task<byte[]> ConvertToWebpAsync(Image image)
    {
        using (var outputStream = new MemoryStream())
        {
            await image.SaveAsWebpAsync(outputStream);
            Console.WriteLine("test");
            Console.WriteLine(outputStream.Length / 1024.0);
            return outputStream.ToArray();
        }
    }
}